<%-include('../admin/partials/aheader.ejs') %>

  <div class="container-fluid py-4">
    <div class="bg-dark  border-radius-lg pt-4 pb-3">
      <h6 class="text-white ml-5 ps-3">Add category</h6>
    </div>
    <form action="/admin/add-category" id="addCategory" name="categoryForm" method="post" class="m-5">
      <div class="mt-4">
        <label for="categoryName" class="form-label text-dark text-bold h5">Category Name</label>
        <input type="text" class="form-control " id="categoryName" name="name" placeholder="  category name">
      </div>
      <div class="mt-4">
        <input class="bg-info btn btn-info" type="submit" value="Submit" onclick="addCategory()">
        <a href="/admin/category-list" class="btn btn-primary">BACK</a>
      </div>
    </form>
  </div>

  <script>
    function addCategory() {
      var name = document.getElementById('categoryName').value;
      event.preventDefault()
      $.ajax({
        method: "post",
        url: '/admin/add-category',
        data: ({
          name
        }),
        success: function (response) {
          if (response.status) {
            Swal.fire({
              icon: 'success',
              title: response.message,
              showConfirmButton: false,
              timer: 2000
            }).then(() => { location.href = '/admin/category-list' });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: response.message,
              showConfirmButton: false,
              timer: 1700
            })
          }
        }
      })
    }
  </script>


  <%-include('../admin/partials/afooter.ejs') %>