<%- include('../user/partials/header.ejs'); %>

  <!-- about section -->
  <section class="about_section layout_padding" id="about_page">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 col-lg-5 ">
          <div class="img-box">
            <img src="/images/user/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>

              Indulge in the exquisite care of our skin and hair products, meticulously crafted to nourish and
              rejuvenate. We believe that true beauty lies in self-care and embracing the uniqueness of every
              individual. Our range of exceptional products is designed to unlock the radiance within, offering a
              transformative experience that goes beyond mere appearance. With the finest ingredients and advanced
              formulations, we strive to nurture your skin and hair, unlocking their true potential.
            </p>
            <a href="#contact_section">
              Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <%- include('../user/partials/footer.ejs'); %>