<%- include('../user/partials/header.ejs'); %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>pureGlow | by Giri</title>
        <link rel="shortcut icon" href="/images/user/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/user/signupstyle.css">
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    </head>

    <body>
        <div class="wrapper p-5">
            <h1>New Password?<span class="toggle-password" onclick="togglePasswordVisibility()"><i
                        class="fa-solid fa-face-smile"></i></span></h1>
            <p>Don't Forget The Password Anymore<br>(click the emoji)</p>
            <form action="/new-password" method="post" id="passwordForm">
                <input type="password" placeholder="Enter Password" id="passwordInput" name="password" maxlength="8"
                    required>
                <input type="password" placeholder="Confirm Password" name="password2" id="confirmPassword"
                    maxlength="8 " required>
                <% if(typeof message !=='undefined' ){ %>
                    <p style="color: rgb(247, 0, 0);font-size: 19px; margin-top: 10px;">
                        <%= message %>
                    </p>
                    <% } %>
                        <button type="submit" value="Submit" onclick="checkPasswordMatch()">submit</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/7d9bb2077c.js" crossorigin="anonymous"></script>
        <script>
            // Function to toggle password visibility
            function togglePasswordVisibility() {
                const passwordInput = document.getElementById('passwordInput');
                const icon = document.querySelector('.toggle-password i');

                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    icon.classList.remove('fa-face-smile');
                    icon.classList.add('fa-face-flushed');
                } else {
                    passwordInput.type = 'password';
                    icon.classList.remove('fa-face-flushed');
                    icon.classList.add('fa-face-smile');
                }
            }
            function checkPasswordMatch() {
                const passMatch = document.getElementById('passwordForm')
                passMatch.addEventListener('submit', event => {
                    event.preventDefault();
                    const password = document.getElementById('passwordInput').value.trim();
                    const confirmPassword = document.getElementById('confirmPassword').value.trim();
                
                    if (password !== confirmPassword) {
                        Swal.fire({
                            icon: 'error',
                            title: 'check the password!',
                            text: 'Password Does Not Match',
                            // footer: '<a href="">Why do I have this issue?</a>'
                        })

                    } else {
                        passMatch.submit()
                    }
                })
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>
    </body>

    </html>

    <%- include('../user/partials/footer.ejs'); %>