<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>pureGlow | by Giri</title>
  <link rel="shortcut icon" href="/images/user/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/user/signupstyle.css">
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper p-4">
    <h1 class="text-white bg-primary t-wraptex">VerifyBro!</h1>
    <p>~ Check Your Email ~<br>Enter the Otp!</p>
    <form method="post" action="/verify-otp" id="verify-otp">
      <div class="mb-3 d-flex justify-content-center p-2 ">
        <input type="text" class="form-control mx-1 text-center digit-input" name="v1" id="v1" maxlength="1"
          autocomplete="off" >
        <input type="text" class="form-control mx-1 text-center digit-input" name="v2" id="v2" maxlength="1"
          autocomplete="off" >
        <input type="text" class="form-control mx-1 text-center digit-input" name="v3" id="v3" maxlength="1"
          autocomplete="off" >
        <input type="text" class="form-control mx-1 text-center digit-input" name="v4" id="v4" maxlength="1"
          autocomplete="off" >
        <input type="text" class="form-control mx-1 text-center digit-input" name="v5" id="v5" maxlength="1"
          autocomplete="off" >
        <input type="text" class="form-control mx-1 text-center digit-input" name="v6" id="v6" maxlength="1"
          autocomplete="off" >
      </div>
      <div class="text-center">
        <button type="submit" onclick="verifyOtp()" class="btn btn-primary w-100">Verify</button>
      </div>
    </form>
    <% if(typeof message !=='undefined' ){ %>
      <p style="color: rgb(247, 0, 0);font-size: 19px; margin-top: 10px;">
        <%= message %>
      </p>
      <% } %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
          const digitInputs = document.querySelectorAll('.digit-input');
          digitInputs.forEach(function (input, index) {
            input.addEventListener('input', function () {
              if (input.value.length === 1 && index < digitInputs.length - 1) {
                digitInputs[index + 1].focus();
              }
            });
          });

          function verifyOtp() {
            const verifyOtp = document.getElementById('verify-otp');
            verifyOtp.addEventListener('submit', event => {
              event.preventDefault();
              const v1 = document.getElementById('v1').value
              const v2 = document.getElementById('v2').value
              const v3 = document.getElementById('v3').value
              const v4 = document.getElementById('v4').value
              const v5 = document.getElementById('v5').value
              const v6 = document.getElementById('v6').value
              console.log(v1, v2, v3, v4, v5, v6)
              if (!v1 || !v2 || !v3 || !v4 || !v5 || !v6) {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Fill It...!😼',

                })
              } else {
                verifyOtp.submit()

              }
            })
          }
        </script>
</body>

</html>