<script src="/admin/admin-home/script.js"></script>
<!--   Core JS Files  home -->
<script src="/admin/edit-users/assets/js/core/popper.min.js"></script>
<script src="/admin/edit-users/assets/js/core/bootstrap.min.js"></script>
<script src="/admin/edit-users/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/admin/edit-users/assets/js/plugins/smooth-scrollbar.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/admin/edit-users/assets/js/material-dashboard.min.js?v=3.0.4"></script>
<!--end home-->

<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!--add category javascript validation start-->
<script src="/admin/js/add-category.js"></script>
<!--add category javascript validation start-->

<!-- plugins:js -->
<script src="/admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/admin/vendors/chart.js/Chart.min.js"></script>
<script src="/admin/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/admin/js/off-canvas.js"></script>
<script src="/admin/js/hoverable-collapse.js"></script>
<script src="/admin/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/admin/js/dashboard.js"></script>
<!-- End custom js for this page -->


<!--bootstrap 5 js cdn link here-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

<!-- new admin -->

<script src="/admin/edit-users/assets/js/core/popper.min.js"></script>
<script src="/admin/edit-users/assets/js/core/bootstrap.min.js"></script>
<script src="/admin/edit-users/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/admin/edit-users/assets/js/plugins/smooth-scrollbar.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<!-- <script src="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('#table-setting').DataTable();
    });
</script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=3.0.4"></script>



</body>

</html>
</body>

</html>